<h1>Publishers</h1>
<p *ngIf="!publishers"><em>Loading...</em></p>
@if (publishers){
    <table class="table table-striped" aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            
            </tr>
        </thead>
        <tbody>
            @for (publisher of publishers; track $index) {
                <tr ngFor="let country of countries">
                    <a [routerLink]="['/publishers', publisher.id]">{{ publisher.id }}</a>
                    <td><a [routerLink]="['/publisherEdit',publisher.id]">{{publisher.name}}</a></td>
              
                </tr>
            }
        </tbody>

    </table>

}
