<p>Publishers</p>

@if (publishers){
    <table class="table table-striped" aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            
            </tr>
        </thead>
        <tbody>
            @for (publisher of publishers; track $index) {
                <tr ngFor="let country of countries">
                    <a [routerLink]="['/publishers', publisher.id]">{{ publisher.id }}</a>
                    <td>{{publisher.name}}</td>
              
                </tr>
            }
        </tbody>

    </table>

} @else {
    <p><em>Loading...</em></p>
}
