<p>Books</p>

@if (books) {
    <table class="table table-striped" aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Pages</th>
                <th>Rating</th>
                <th>Publisher ID</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            @for (book of books; track $index) {
                <tr ngFor="let book of books">
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.pages}}</td>
                    <td>{{book.rating}}</td>
                    <td>{{book.publisherId}}</td>
                    <td>{{book.publisher.name}}</td>
                </tr>
            }
        </tbody>

    </table>

} @else {
    <p><em>Loading...</em></p>
}
