<p>Books</p>

@if (books) {
    <button mat-flat-button color="primary" class="btn-add" [routerLink]="['/book']">Add a new Book</button>
    <table class="table table-striped" aria-labelledby="tableLabel">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>Pages</th>
                <th>Rating</th>
                <th>Publisher ID</th>
                <th>Publisher</th>
            </tr>
        </thead>
        <tbody>
            @for (book of books; track $index) {
                <tr ngFor="let book of books">
                    <td>{{book.id}}</td>
                    <a [routerLink]="['/books', book.id]"><td>{{book.title}}</td></a>
                    <td>{{book.author}}</td>
                    <td>
                        <div>
                          {{ showFullDescription[book.id] ? book.description : (book.description | slice:0:150) + (book.description.length > 150 ? '...' : '') }}
                          <button (click)="toggleDescription(book.id)" class="show-more">
                            {{ showFullDescription[book.id] ? 'Show Less...' : 'Show More...' }}
                          </button>
                        </div>
                      </td>
                      
                    <td>{{book.pages}}</td>
                    <td>{{book.rating}}</td>
                    <td>{{book.publisherId}}</td>
                    <td>{{book.publisher.name}}</td>
                </tr>
            }
        </tbody>

    </table>

} @else {
    <p><em>Loading...</em></p>
}
