<div class="book-edit">
  <h1>{{ title }}</h1>

  @if ((id && book) || !id) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Title:</mat-label>
          <input matInput formControlName="title" required="required" placeholder="Enter title" />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Author:</mat-label>
          <input matInput formControlName="author" required="required" placeholder="Enter author" />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Description:</mat-label>
          <textarea matInput formControlName="description" rows="5" placeholder="Enter book description"></textarea>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Pages:</mat-label>
          <input matInput formControlName="pages" required="required" placeholder="Enter pages" />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Rating:</mat-label>
          <input matInput formControlName="rating" required="required" placeholder="Enter rating" />
        </mat-form-field>

        @if (publishers) {
            <mat-form-field appearance="fill">
                <mat-label>Select a Publisher...</mat-label>
                <mat-select id="publisherId" formControlName="publisherId">
                    @for (publisher of publishers; track $index) {
                        <mat-option ngFor="let publisher of publishers"
                        [value]="publisher.id">
                        {{publisher.name}}
                    </mat-option>
                    }
                    
                </mat-select>
              </mat-form-field>
        }
        
        <div>
          <button mat-flat-button color="primary" type="submit">{{this.id ? "Save" : "Create"}}</button>
          <button mat-flat-button color="secondary" [routerLink]="['/books']">Cancel</button>
        </div>
      </form>
   
    
  } @else {
    <p><em>Loading...</em></p>
  }
</div>
